.heading {
  margin: 0;
  width: 1430px;
  position: relative;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.container,
.itemsContainer,
.textContainer {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.textContainer {
  border-radius: 16px;
  background-color: #1a1a1a;
  flex-direction: column;
  justify-content: center;
  padding: 50px 20px 50px 50px;
  box-sizing: border-box;
}
.container,
.itemsContainer {
  gap: 20px;
}
.itemsContainer {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px;
}
.container {
  border-radius: 24px;
  border: 2px solid #1f1f1f;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  padding: 17px 18px;
  text-align: left;
  font-size: 48px;
  color: #f9efec;
  font-family: "Roboto Flex";
}
@media screen and (max-width: 1425px) {
  .textContainer {
    padding-left: 25px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 950px) {
  .heading {
    font-size: 38px;
  }
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: 29px;
  }
}
